/* Universal Styles */
html {
    font-family: "Proxima Nova";
    font-size: 16px;
}

.main-content {
    padding-top: 82px;
}

body {
    margin-top: 0;
    padding-top: 0;
    background-color: rgb(24, 26, 27);
}

/* Header */
header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
}

header nav {
    margin-left: auto;
}

header nav {
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

.menu-item {
    position: relative;
    padding: 1rem;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid black;
}

.menu-item:hover .sub-menu {
    display: block;
}

/* Splash Section */

#splash-img img {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

/* Intro Section */

#intro-section {
    max-width: 100%;
}

.slogan-container {
    display: block;
    text-align: center;
}

.mission-boxes {
    display: flex;
}

.mission-box {
    text-align: center;
}

.mission-icon img {
    height: 100px;
    width: 100px;
}

#intro-section h2 {
    text-align: center;
}

/* Map Section */


/* Core Principles Section */

#principles-section {
    max-width: 100%;
}

.principle-boxes {
    display: flex;
    justify-content: center;
}

.principle-box {
    text-align: center;
    margin: 1rem;
    padding-right: 2rem;
}

.principle-icon img {
    height: 100px;
    width: 100px;
}

/* Footer */